[project]
	description = An app that allows people to find the food they are craving for
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/TheLegendaryDuke
[access "refs/for/refs/*"]
	read = group user/TheLegendaryDuke
	push = group user/TheLegendaryDuke
	label-Code-Review = -2..+2 group user/TheLegendaryDuke
	label-Verified = -1..+1 group user/TheLegendaryDuke
	rebase = group user/TheLegendaryDuke
	removeReviewer = group user/TheLegendaryDuke
	submit = group user/TheLegendaryDuke
[access "refs/heads/*"]
	read = group user/TheLegendaryDuke
	create = group user/TheLegendaryDuke
	push = +force group user/TheLegendaryDuke
	pushMerge = group user/TheLegendaryDuke
[access "refs/tags/*"]
	push = group user/TheLegendaryDuke
	push = +force group user/TheLegendaryDuke
