<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itsjustaaron.food">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Food"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".FoodActivities.Welcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodActivities.Main"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FoodActivities.ProfileSetup"
            android:parentActivityName=".FoodActivities.Main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FoodActivities.NewFood"
            android:parentActivityName=".FoodActivities.Main" />
        <activity
            android:name=".FoodActivities.CravingDetails"
            android:parentActivityName=".FoodActivities.Main" />
        <activity android:name=".FoodActivities.OfferDetails" />
        <activity android:name=".FoodActivities.MyCravings"
            android:parentActivityName=".FoodActivities.Main"/>
        <activity android:name=".FoodActivities.Options"
            android:parentActivityName=".FoodActivities.Main"/>
    </application>

</manifest>